.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    display: grid;
    grid-column: span 4;
    height: 100px;
    width: 250px;
    border: none;
    border-radius: 12px;
    background-color: black;
    color: white;
    text-align: end;
    font-size: xx-large;

}

.calculator{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    border: 6px solid #111111;
    border-radius: 23px;
    padding: 12px;
    height: 500px;
    background-color: black;
    box-shadow: 3px 3px 15px 1px rgba(90,90,90,1), 4px 4px 18px 2px black
}

button{
    border: none;
    border-radius: 20px;
    height: 59px;
    width: 58px;
    font-size: x-large;
    box-shadow: 3px 3px 9px -2px rgba(90,90,90,1);

}

.first{
    background-color: rgb(67, 186, 233);
}

.symbol{
    background-color: blue;
}

button:active{
    background: rgb(132, 198, 248);
}